body{
    /* background-image: url('/home/z0407@ad.ziffity.com/Documents/MagicDisplay/backgroundImage.jpeg');
    background-repeat:no-repeat;
    background-size: 100% 100%; */
    background-color: black;
}
.lightHouse
{
width: 100%;
height: 25%;
}
.lightHouse .lightTop 
{
    display: flex;
    width: 100%;
    height: 50%;

    background-position: 50px;
 
}
.lightHouse .lightTop .lightUpOne
{
    width: 30%;
    height: 100%;
    background-image: url('/home/z0407@ad.ziffity.com/Downloads/lightTop (2).png');
    margin-left: 100px;
    background-size: 50% 100%;
    background-repeat:no-repeat;


}
.lightHouse .lightTop .lightUpTwo
{
    width: 30%;
    height: 100%;
    background-image: url('/home/z0407@ad.ziffity.com/Downloads/lightTop (2).png');
    margin-left: 100px;
    background-size: 50% 100%;
    background-repeat:no-repeat;


}
.lightHouse .lightTop .lightUpThree
{
    width: 30%;
    height: 100%;
    background-image: url('/home/z0407@ad.ziffity.com/Downloads/lightTop (2).png');
    margin-left: 100px;
    background-size: 50% 100%;
    background-repeat:no-repeat;


}

.lightHouse .lightDown
{
    display: flex;
    width: 100%;
    height: 100%;

}
.lightHouse .lightDown .lightDownOne
{
    width: 30%;
    height: 50%;
    background-image: url('');
    background-size: 50% 100%;
    background-repeat:no-repeat;
    margin-left: 80px;
    margin-bottom: 60px;

}
.lightHouse .lightDown .lightDownTwo
{
    width: 30%;
    height: 50%;
    background-image: url('');
    background-size: 50% 100%;
    background-repeat:no-repeat;
    margin-left: 80px;
    margin-bottom: 60px;

}
.lightHouse .lightDown .lightDownThree
{
    width: 30%;
    height: 50%;
    background-image: url('');
    background-size: 50% 100%;
    background-repeat:no-repeat;
    margin-left: 80px;
    margin-bottom: 60px;

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
.blockContainer
{
    width: 100%;
    height: 25%;
   
    display: flex;

}
.blockContainer .blocksOne{
width:30%;
height: 100%;
border:2px solid white;
border-radius: 8px;
background-color: white;
margin-right: 100px;
margin-left: 20px;
}
.fa.fa-bug
{
font-size: 90px;
padding:50px 20px 0px 180px;
}
.blockContainer .blocksTwo{
    width:30%;
    height: 100%;
    border:2px solid white;
    border-radius: 8px;
    background-color: white;
    margin-right: 100px;
    margin-left: 20px;
    }
    .blockContainer .blocksThree{
        width:30%;
        height: 100%;
        border:2px solid white;
        border-radius: 8px;
        background-color: white;
        margin-right: 100px;
        margin-left: 20px;
        }
.humanNoid
{
    width: 100%;
    height: 50%;
    display: flex;

}
.humanNoid .left
{
    width:30%;
    height: 100%;

}
.humanNoid .Middle
{
    width:30%;
    height: 100%;
    background-image:url('/home/z0407@ad.ziffity.com/Downloads/200w.gif');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    margin-left: 40px;
}
.humanNoid .right
{
    width:30%;
    height: 100%;

}